<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Residents</title>
</head>
<body>
 <div th:insert="fragments/navbar :: navbar"></div>
<!--With bootstrap-->
<div class="container mt-4">
    <ul class="dropdown-menu">
        <li><h6 class="dropdown-header">Dropdown header</h6></li>
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
    </ul>
    <h2 class="mb-4">Residents List</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Apartment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resident : ${residents}">
            <td th:text="${resident.id}">1</td>
            <td th:text="${resident.name + ' '+ resident.surnames}">John Doe</td>
            <td th:text="${resident.birthDate}">30</td>
            <td th:text="${resident.room}">A101</td>
            <td>
                <a th:href="@{'/residents/form/' + ${resident.id}}" class="btn btn-primary btn-sm">Edit</a>
                <a th:href="@{'/residents/delete/' + ${resident.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this resident?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/residents/form}" class="btn btn-secondary mb-3">New Resident</a>
</div>
</body>
</html>